*{
    margin: 0;
}
body{
    margin: 0;
    background-color:#796f71;
    height:auto;
    width:100%;
}
.sticky-bar{
    background-color: #121fd6;
    color:rgb(135, 172, 94);
    font-weight: bolder;
    padding:10px 0;
    position: sticky;

    top: 2px;
}
p{
    color:#e0f711;
}